<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<widget id="---bundle-id---" version="---app-version---" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
  <name>---app-id---</name>
  <description>
        ---app-description---
    </description>
  <author email="---author-email---" href="---author-url---">---author-name---</author>
  <content src="index.html"/>
  <access origin="*"/>
  <access origin="cdvfile://*"/>
  <allow-intent href="cdvfile://*"/>
  <allow-navigation href="*"/>
  <preference name="webviewbounce" value="false"/>
  <preference name="UIWebViewBounce" value="false"/>
  <preference name="DisallowOverscroll" value="true"/>
  <preference name="android-minSdkVersion" value="16"/>
  <preference name="FadeSplashScreenDuration" value="1200"/>
  <preference name="AutoHideSplashScreen" value="false"/>
  <preference name="xwalkVersion" value="20+"/>
  <preference name="xwalkCommandLine" value="--disable-pull-to-refresh-effect"/>
  <preference name="xwalkMode" value="embedded"/>
  <preference name="xwalkMultipleApk" value="true"/>
  <preference name="Orientation" value="portrait"/>
  <feature name="StatusBar">
    <param name="ios-package" onload="true" value="CDVStatusBar"/>
  </feature>
  <platform name="android">
    <hook type="after_platform_add" src="scripts/android/change_keyboard_mode.js"/>
    <preference name="SplashShowOnlyFirstTime" value="false"/>
    <preference name="SplashScreenDelay" value="500000"/>
  </platform>
  <platform name="ios">
    <preference name="BackupWebStorage" value="none"/>
    <preference name="KeyboardDisplayRequiresUserAction" value="false"/>
    <preference name="iosPersistentFileLocation" value="Library"/>
  </platform>
</widget>
