ion-view.tab1(view-title='Tab 1' refresh-on="'cache:cleared'" refresh-callback='TODO')
    ion-content
        .list
            .card.heroe(ng-repeat="item in vm.items track by item.id")
                .item.item--full.heroe_content(ui-sref='app.tab1DetailInModal({item:item})')
                    .heroe__cover(style="background-image: url('{{::item.thumbnailUrl}}')")
                .item.item-icon-right.assertive.heroe__footer
                    | {{::item.name}}
